$main-color: #dcc1ab;
$main-color-hover: #ecd1ba;
$secondary-color: #f5f0ec;
$pure-white: #ffffff;
$dark: #111111;
$green-color: #1b5b31;
$green-color-hover: #197539;
$gradient:
rgba(255, 255, 255, 0) 0%,
rgba(220, 193, 171, 1) 60%,
rgba(220, 193, 171, 1) 100%;
