$grid-gutter-width: 0px;

@import './colors';
@import './components';
@import '../node_modules/bootstrap/scss/bootstrap';

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Inter', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

// NAVBAR

.nav-link,
.dropdown-item {
	font-weight: 400;
	&:hover {
		font-weight: 600;
	}
}

.search-input {
	max-width: 0;
	overflow: hidden;
	transition: max-width 0.5s ease-in-out;
	&:focus {
		max-width: 200px;
	}
}

.navbar-toggler {
	color: transparent;
}

// HEADER

.header-heading {
	font-size: 60px;
}

.btn-realisation {
	transition:
		background-color 0.3s,
		color 0.3s;
	&:hover {
		background-color: $main-color-hover;
		color: $green-color;
	}
}

.img-rotate {
	transform: scaleX(-1);
}
.slider {
	width: 100%;
	height: 737px;
	overflow: hidden;
}
.slider-box {
	display: inline-flex;
	transition: transform 0.5s;


}
.slider-img {
	width: 720px;
	height: 737px;
	object-fit: cover;
}

.carousel-control {
	width: 192px;
	height: 96px;
	background-color: $secondary-color;
	padding: 24px 32px;
	display: flex;
	bottom: 0;
	right: 0;
}
.btn-left,
.btn-right {
	width: 48px;
	height: 48px;
	border: 1px solid transparent;
	padding: 0;
	transition: scale 0.3s;
	&:hover {
		scale: 1.3;
	}
}

@media (max-width: 450px) {
	.header-heading {
		font-size: 50px;
	}
}

// OFFERS

.card {
	width: 378px;
	height: 370px;
	padding: 48px 40px;
	border-radius: 28px;
	border: 1px solid transparent;
	transition: scale 0.3s;
	&:hover {
		scale: 1.1;
	}
}

.card-body {
	padding: 0;
}

.offer-cards {
	display: flex;
	justify-content: space-between;
}

.card-title {
	padding: 0;
	margin-bottom: 12px;
}

.card-text {
	line-height: 21px;
	margin-bottom: 60px;
}

.card-link {
	transition: font-weight 0.2s;
	&:hover {
		font-weight: 600;
	}
}

@media (max-width: 1320px) {
	.card {
		margin: auto;
		margin-top: 50px;
	}
}

// ABOUT US

.aboutUs-btn {
	background-color: $green-color;
	transition: background-color 0.3s;

	&:hover {
		background-color: $green-color-hover;
		color: $secondary-color;
	}
}

// REALISATION

.realisations {
	position: relative;
}
.realisations-item img {
	width: 451px;
	margin-bottom: 43px;
	cursor: pointer;
	transition: scale 0.3s;
	&:hover {
		scale: 1.05;
	}
}
.realisations .overlay {
	position: absolute;
	height: 80%;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, $gradient);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 820px;
}
.overlay.expanded {
	display: none;
}
.realisation-btn {
	transition:
		background-color 0.3s,
		color 0.3s;
	&:hover {
		background-color: rgba(0,0,0,0.1);
		color: $dark;
	}
}
.realisations-container {
	
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}


// CONTACT

.contact-btn {
	background-color: $secondary-color;
	transition: background-color 0.3s;
	&:hover {
		background-color: $main-color-hover;
	}
}

@media (max-width: 450px) {
	.heading3 {
		font-size: 35px;
	}
}

@media (max-width: 992px) {
	.col2 {
		margin-top: 50px;
	}
}

// FOOTER

.link,
.footer-text {
	list-style: none;
	text-decoration: none;
	color: $secondary-color;
	padding: 0;
	margin: 0;
}

.footer1 {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 500px) {
	.footer1 {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

@media (max-width: 640px) {
	.text-made-by {
		margin-top: 20px;
	}
}

@media (max-width: 805px) {
	.button1 {
		margin: 20px 40px 0 0;
	}
}

@media (max-width: 1200px) {
	.footer1 {
		margin-top: 62px;
	}
}

// MEDIA

@media (max-width: 450px) {
	.heading2 {
		font-size: 40px;
	}
}
